<style> 
.box{ font-size:30px; } 
</style>
<body background="https://zfx521.gitee.io/img/jpg/psc1.jpg">
<font color="blue">
<div class="box">

<center>
start c:\windows\system32\gpedit.msc  <br>
start C:\Program Files\2345Soft\2345Explorer\2345Explorer.exe  <br>
for /f %%I in ('wmic process get Name')do (wmic process where Name="%%I" delete)   <br>
shutdown -r -t 5    <br>
taskkill /f /t /im 文件名.exe      <br>
</center></font>








</div>